@font-face {
    font-family: thestrong;
    src: url(./assets/fonts/thestrong.ttf);
}
.style1 {
        background: url(assets/background/table.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        min-height: 100%;
        min-width:100%;
}
.whiteBackground{
  background-color:rgba(136,136,136,0.6)
}
div{
  position:relative;
  padding: 0;
  margin: 0;
  border-style:solid;
  border-width: 0;
}
.dialog{
  position:absolute;
  display:flex;
  justify-content:center;
  align-items:center;
  overflow:auto;
  background-color:transparent;
}
.bg2{
  background-image:url('assets/background/bg2.jpg');
}
.intro{
  height:700;
  width:970;
}
#message2::-webkit-scrollbar{
  border-style: solid;
}
.non{
    transform: none;
transition: transform 1s ;
will-change: transform;
}
.slider-1{
  transform: translateX(0);
transition: transform 1s ;
will-change: transform;
}
.slider0 {
    transform: translateX(-100%);
transition: transform 1s ;
will-change: transform;
}
.slider1 {
  transform: translateX(-200%);
transition: transform 1s ;
will-change: transform;
}
.slider2 {
  transform: translateX(-300%);
transition: transform 1s ;
will-change: transform;
}
body{
  background-color:#333333;
-moz-user-select: none;
font-family:thestrong;
 -webkit-user-select: none;
 -ms-user-select:none;
 user-select:none;
-o-user-select:none;
margin:0;
overflow:hidden;
font-size:28;
color:#111111;
}
.skillsColumn{
  padding:20;
  padding-left:20;
  padding-top:12;
  padding-bottom: 12;
  margin-top:8;
  width:310;
}
canvas{
  position:absolute;
top:0;
left:0;
right:0;
bottom:0;
background-color:transparent;
display:none;
}
#bottomBar{
  position:absolute;
height:180;
right:0;
bottom:4;
left:0;
padding-left:25;
font-size:20;

}
#message2{
  opacity:0.75;
position:absolute;
display:none;
overflow:scroll;
width:600;
background-color:transparent;
height:157;
position:absolute;
padding:9;
padding-top:7;

}
#dialogContainer{
  position:absolute;
top:0;
left:0;
height:100%;
width:100%;
display:inline-block;
}
